.topstories_container .topstor_bar h3 {
  font-family: "Franklin";
  font-size: 17px;
}

.topstories_container .topstor_content_wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topstories_container .topstor_content_wrapper .topstor_side_content {
  width: 27%;
  height: 100%;
  padding: 0px 10px;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .side_content_w_related h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .side_content_w_related .side_content_related p {
  font-size: 14px;
  cursor: pointer;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .side_content_w_related .side_content_related p:first-child {
  font-weight: bold;
  cursor: initial;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .side_content_w_img h3 {
  cursor: pointer;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .side_content_w_img .side_content_media {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .side_content_w_img .side_content_media img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .ads_left {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: 70vh;
  background: url("../../Assets/Ads/ads5.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.topstories_container .topstor_content_wrapper .topstor_side_content .ads_left .ads_sign {
  position: absolute;
  width: 70px;
  height: 70px;
  background: url("../../Assets/Ads/ads_blinker.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
}

.topstories_container .topstor_content_wrapper .topstor_main_content {
  width: 73%;
  height: auto;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left {
  width: 60%;
  height: 100%;
  border-left: 1px solid #e0e0db;
  border-right: 1px solid #e0e0db;
  padding: 0px 10px;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_media {
  width: 100%;
  height: 45%;
  position: relative;
  margin-bottom: 10px;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_content_title {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  margin-top: 15px;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_content .side_left_catgr_1 .catgr_title,
.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_content .side_left_catgr_2 .catgr_title {
  font-family: "Postoni";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_content .side_left_catgr_1 .catgr_content,
.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_left .side_left_content .side_left_catgr_2 .catgr_content {
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 12px;
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.192);
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_right {
  width: 40%;
  height: 100%;
  padding: 0px 10px;
  overflow: hidden;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_right .side_right_content {
  margin-bottom: 20px;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_right .side_right_content h1 {
  font-size: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.topstories_container .topstor_content_wrapper .topstor_main_content .topstor_section_1 .side_right .side_right_content p {
  font-size: 14px;
}
/*# sourceMappingURL=NewsCategorySection.css.map */