.newscategory_container {
    .newscatg_bar {
        h3 {
            font-family: 'Franklin';
            font-size: 20px;
        }
    }

    .newscatg_wrapper {
        width: 100%;
        height: auto;
        // background: red;
        display: flex;
        justify-content: space-between;
        // justify-content: space-between;
        .main_content2 {
            width: 80%;
            height: 100%;
            border-right: 1px solid #e0e0db;
            padding-right: 10px;
            display: flex;

            .main_show {
                width: 75%;
                padding-left: 10px;
                .media {
                    width: 100%;
                    height: 350PX;
                    overflow-y: hidden;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .title {
                    height: 25%;
                    // background: brown;
                    padding-top: 15px;
                }
            }

            .links_lst {
                width: 35%;
                padding-right: 10px;

                .links_wrap {
                    margin-bottom: 15px;
                    h3 {
                        margin-bottom: 10px;
                        cursor: pointer;
                    }

                    p{
                        font-size: 15px;
                        color: rgb(100, 100, 100);
                        cursor: pointer;
                    }
                }
            }
        }

        .side_content2 {
            width: 20%;
            height: 100%;
            // background: green;
            padding-left: 10px;

                li {
                    font-size: 20px;
                    font-family: 'Franklin';
                    font-weight: bolder;
                    margin-bottom: 10px;
                }
                .links_lst {
                    padding-top: 5px;
                    p{
                        margin-bottom: 10px;
                        font-family: 'Postoni';
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;

                        span {
                            font-size: 12px;
                            font-style: italic;
                            align-self: flex-end;
                            color: rgba(0, 0, 0, 0.61);
                        }
                    
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) { 
    .newscategory_container {
        width: 94%;
        margin: 0 auto;

        .newscatg_wrapper {
            .main_content2 {
                width: 100%;
                border: none;
            }

            .side_content2 {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 700px) { 
        .newscategory_container {
            .newscatg_wrapper {
                .main_content2 {
                    flex-direction: column-reverse;
                    .links_lst {
                        width: 100%;
                        margin-top: 20px;
                    }
                    .main_show {
                        width: 100%;
                        padding-left: 0px;
                    }
                }
            }
        }
}