.categoryList_container {
  width: 100%;
  height: auto;
  font-family: 'Roboto';
}

.categoryList_container .catg_list_bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryList_container .catg_list_bar .latest, .categoryList_container .catg_list_bar .search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 5px;
  cursor: pointer;
  color: #918f8f;
}

.categoryList_container .catg_list_bar .latest {
  padding-right: 25px;
  border-right: 1px solid #000;
  color: #000;
}

.categoryList_container .catg_list_bar .search {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryList_container .catg_list_bar .search h4 {
  margin-left: 5px;
}

.categoryList_container .catg_list_bar .search input {
  height: 100%;
  width: 200px;
  background: transparent;
  color: black;
  border: 1px solid #afafaf;
  padding: 5px;
  border-radius: 5px;
}

.categoryList_container .catg_list_bar .search input:focus {
  outline: none;
}

.categoryList_container .catg_list_wrapper {
  width: 100%;
  margin-top: 10px;
}

.categoryList_container .catg_list_wrapper .list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
}

.categoryList_container .catg_list_wrapper .list_content .media {
  width: 30%;
  height: 150px;
  overflow: hidden;
}

.categoryList_container .catg_list_wrapper .list_content .media img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.categoryList_container .catg_list_wrapper .list_content .content {
  width: 50%;
  margin-right: 15px;
  font-family: 'Postoni';
}

.categoryList_container .catg_list_wrapper .list_content .content h3 {
  font-weight: 300;
  font-size: 23px;
  cursor: pointer;
}

.categoryList_container .catg_list_wrapper .list_content .content p {
  margin-top: 10px;
  font-family: 'Postoni';
  color: #616161;
  font-size: 16px;
  cursor: pointer;
}

.categoryList_container .catg_list_wrapper .list_content .content small {
  display: block;
  color: #ccc8c8;
  font-style: italic;
  margin-top: 10px;
  font-family: 'Roboto';
}

.categoryList_container .catg_list_wrapper .list_content .date {
  width: 20%;
  color: #888787;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .categoryList_container .catg_list_wrapper .list_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 20px;
  }
  .categoryList_container .catg_list_wrapper .list_content .media {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .categoryList_container .catg_list_wrapper .list_content .media img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .categoryList_container .catg_list_wrapper .list_content .content {
    width: 100%;
  }
  .categoryList_container .catg_list_wrapper .list_content .content h3 {
    font-weight: bold;
  }
  .categoryList_container .catg_list_wrapper .list_content .content p {
    font-family: 'Roboto';
    font-weight: 400;
  }
  .categoryList_container .catg_list_wrapper .list_content .date {
    width: 100%;
    margin-top: 20px;
    font-style: italic;
  }
}
/*# sourceMappingURL=NewsCategoryList.css.map */