.right_bar_subscribe {
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 17px;
      font-family: "Roboto";
      font-weight: bold;
    }

    .subscribe_intro {
      font-weight: bold;
      text-align: center;
    }

    .right_bar_subscribe_input {
      width: 90%;
      height: 40px;
      align-self: center;
      margin-top: 15px;
      border-radius: 4px;
      border: 1px solid #d6d6d6;
      padding-left: 10px;
      &:focus {
        outline: none;
      }
    }

    .right_bar_subscribe_btn {
      width: 50%;
      height: 35px;
      margin-top: 10px;
      align-self: center;
      color: white;
      background-color: purple;
      border-radius: 4px;
      border: none;
    }
  }