.line_breaker_line {
    width: 100%;
    margin: 0 auto;
    // margin-right: 15px;
    background-color: #e0e0db;
    // padding: 5px;
    border: 0.5px solid #e0e0db;
    margin-top: 10px;
    margin-bottom: 10px;
}