.hot_topics {
    // background-color: blue;
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Franklin';

    .hot_topics_intro {
        color: red;
        font-weight: bold;
    }

    .topics {
        text-decoration: none;
        color: black;
    }
}

@media only screen and (max-width: 1500px) {
    .hot_topics {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .hot_topics {
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    .hot_topics {
        width: 80%;
        margin-bottom: 10px;
        font-size: 13px;
        // background: rgb(75, 75, 75);
    }
}

@media only screen and (max-width: 500px) {
    .hot_topics {
        width: 100%;
        margin-bottom: 10px;
        font-size: 10px;
    }
}